<div ng-app="app">
  <div ng-controller="gamesCtrl">
    <h2> Create a new character</h2>
    <br>
    <input type="text" placeholder="Name" ng-model="character.character">
    <input type="text" placeholder="City" ng-model="character.city">
    <input type="text" placeholder="House" ng-model="character.house">
    <button type="button" ng-click="addCharacter(character)">Add Character</button>

      <h2>{{message}}</h2>

      <ul>
        <li ng-repeat="error in errors"></li>
      </ul>
      <input type="text" placeholder="Filter by house" ng-model="filterHouse">
      <button type="button" ng-click="toggleOrder('character')"> Order by Character</button>
      <button type="button" ng-click="toggleOrder('house')"> Order by House</button>

      <div ng-repeat="character in games | filter: {house: filterHouse} | orderBy: orderAttribute:isReverse">
      <ul>
          <li>Character: {{ character.character}}</li>
          <li>House: {{ character.house }}</li>
          <li>City: {{character.city}}</li>

    
        <button type="button" ng-click="deleteCharacter(character)">Delete</button>
      </div>

      <h3>{{ character.length }}</h3>
    </div>
</div>
